
@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPanel</title>
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />



</head>
<body>
    <div>
        <h3>Покупатели</h3>
        <table>
            <tr>
                <td><p>Покупатель</p></td>
                <td><p>Адрес</p></td>
                <td><p>Книга</p></td>
                <td><p>Дата</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Purchases)
            {
                <tr>
                    <td><p>@b.Person</p></td>
                    <td><p>@b.Address</p></td>
                    <td><p>@b.BookId</p></td>
                    <td><p>@b.Date</p></td>
                </tr>
            }
        </table>

        <h3>Книги</h3>
        <table>
            <tr>
                <td><p>Название</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
                <td><p>Изменить книгу</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Edit/@b.Id">Изменить</a></p></td>
                    <td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>
                </tr>
            }
        </table>

        <div class="addbook"><a href="/Home/Create">Добавить книгу</a></div>

    </div>
</body>
</html>
